body{ background-color: #000000	;} 
p { color: black; } 

table {
background-color:#000000;
font: 15px montserrat, sans-serif;
color:black;
margin-right: 20px;
}

select {
background-color:#000000;
font: 15px montserrat, sans-serif;
color:black;
border-radius: 10px;
}

input {
font: 15px montserrat, sans-serif;
color:black;
border-radius: 10px;
}

.botao {
font: 15px montserrat, sans-serif;
color:black;
margin-right: 20px;
}

.chavepk {
font: 15px montserrat, sans-serif;
color:black;
margin-right: 20px;
}

